p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.profiles,.youtube-suggestions{
    margin-bottom: 10px;
}

.picture,.profile-info,.button{
    display: inline-block;
    vertical-align: middle;
}

.picture{
    width: 50px;
    margin-right: 6px;
}
.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(149,149,149, .6);
    cursor: pointer;
}

.profile-info{
    width: 150px;
}

.profile-name{
    font-size:14px;
    font-weight: 600;
}

.profile-nickname,.profile-popularity {
    font-size:14px;
    font-weight: 500;
    color: rgb(140,140,140);
}

.follow-button{
    padding-top: 7px ;
    padding-bottom: 7px ;
    padding-left:13px;
    padding-right: 13px ;
    border: none;
    background-color: rgb(38, 147, 242);
    color: white;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(149,149,149,.5);
    cursor: pointer;
}

.video-thumbneil{
    width: 230px; 
    margin-right: 6px;
 }

 .video-info,.video-thumbneil {
     display: inline-block;
     vertical-align: top;
 }

 .thumneil-1{
     width: 230px;
     object-fit: cover;                
 }

 .video-info{
     width: 260px;
 }
 .video-title{
     font-size:18px;
     font-weight: 600;
     line-height: 26px;
     margin-bottom:8px;
 }

 .video-author,.video-stats{
     color: rgb(82, 82, 82);
     font-weight: 500;
     margin-bottom: 4px;
 }