/* font-family: Roboto, Arial, sans-serif; */

p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto, Arial, sans-serif;
}

.top-bar{
    display: block;
    margin-bottom: 15px;
} 

.video-preview{
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;    
}

.video-thumnail{
    margin-bottom:10px;
} 

.thumnail{
    width: 100%;
}

.channel-profile-picture{
    display: inline-block;
    width: 40px;     
    vertical-align: top;
    margin-right: 4px;
}

.profile-pic{
    width: 36px;
    border-radius: 50px;
}

.video-info{
    display: inline-block;
    width: 250px;   
    vertical-align: top;
}

.video-title{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 20px;
}
.video-author,.video-stats{      
    font-size: 12px;
    margin-bottom: 3px;
    color:rgb(111, 111, 111);
}


